<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrong Password</title>
    <style>
        body {
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            flex-direction: column;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Wrong password/Email</h1>
    <form action="/login" method="GET">
        <input type="submit" value="CLICK_HERE">
    </form>
</body>
</html>
